.navbar{
    width: 100%;
}
.nav-link {
    color: black !important;
}
.nav-link:hover {
    box-shadow: inset 9.91px 9.91px 15px #E2E3E4, inset -9.91px -9.91px 15px #e3e4e9;
}
.login,.signup {
    border: 1px solid black;
}
.card {
    background-color: #EEB0B0;
    border: 1px solid #EEB0B0;
    margin-top: 5px;
}

.card-body {
    padding: 1rem;
}
.card-text{
    color: #7D1E6A;
}
body{
    font-style: italic;
    font-size: 2.0rem;
    background-image: url('static/css/brick.jpg')
}
.homeButtons {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.btn {
    margin-left: 0.3em;
    font-size: smaller;
    margin-top: 1em;
}

.welcome-section {
    padding: 1em;
    border-radius: 1em;
    background: #ebebeb;
    box-shadow:  20px 20px 60px #c8c8c8,
             -20px -20px 60px #ffffff;
}
form {
    border: 1px solid blue;
    background-color: aliceblue;
}
.form-text{
    color: blue;
}
form {
    border: 1px solid black;
    background-image: url('static/css/brick.jpg')

}
.pitch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #7D1E6A;
    background-color: #EEB0B0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.votes {
    display: flex;
}

.pitchCard {
    border-radius: 0.5em;
}

.downvote {
    margin-left: 0.3em;
}


@media screen and (min-width:800px){
    #message{
        position: absolute;
        top: 150px;
        left: 400px;
    }
    
}